dagster==1.2.2
dagster-cloud==1.2.2
dagster-dbt==0.18.2
dbt-core==1.4.5
dbt-snowflake==1.4.2
git+https://github.com/discursus-data/saf_aws.git@0.2#egg=saf-aws
git+https://github.com/discursus-data/saf_gdelt.git@0.2#egg=saf-gdelt
git+https://github.com/discursus-data/saf_novacene.git@0.2.1#egg=saf-novacene
git+https://github.com/discursus-data/saf_web_scraper.git@0.2#egg=saf-web-scraper